:root.light {
  --background: #ffffff;
  --base-text: #000000;
  --text-secondary: #4b4e55;
  --border-color: #000000;
  --white-color: #ececec;
  --color-accent: #015551;
  --color-highlight: #1b56fd;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
