:root.light {
  --background: #f0f1f1;
  --base-text: #000000;
  --text-secondary: #4b4e55;
  --border-color: #9aa6b2;
  --white-color: #ececec;
  --color-accent: #fe4f2d;
  --color-highlight: #1b56fd;
  --code-color: #ffffff;
  --box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
