.container {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  transition: opacity 1s ease;
  opacity: 1;

  &.fadeOut {
    opacity: 0;
    pointer-events: none;
  }

  > .roleCommand {
    font-size: var(--font-xl);
    font-weight: var(--weight-bold);
    color: var(--color-accent);

    > .roleResult {
      color: var(--color-highlight);
    }
  }
}

.nameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  > h1 {
    text-transform: uppercase;
    font-size: var(--font-xxxl);
    color: var(--base-text);
  }

  > .logo {
    animation: pulse 0.3s infinite ease-in-out;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.05);
  }
}

@media (max-width: 480px) {
  .nameContainer {
    h1 {
      font-size: var(--font-xl);
    }
  }
}
