.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100dvw;
  min-height: 100dvh;
  padding: 2rem 0rem 2rem;
  overflow-y: auto;
}

.layoutInner {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 90%;
  max-width: 100rem;

  > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;

    margin-bottom: 1rem;

    > img {
      user-select: none;
      pointer-events: none;
    }

    > .headerMenu {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
    }
  }

  > .content {
    display: flex;
    justify-content: center;
    flex: 1;
  }

  > .footer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: var(--font-xs);
    color: var(--text-secondary);
    text-align: center;
    user-select: none;

    > div {
      max-width: 35rem;
    }

    a {
      color: var(--color-highlight);
      font-weight: var(--weight-bold);
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.homeContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  user-select: none;
  width: 95%;
  max-width: 42rem;
  margin-top: 2rem;

  .introContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    > h1 {
      font-size: var(--font-xxl);
      font-weight: var(--weight-bold);
    }

    > .introDescription {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      > p {
        color: var(--text-tertiary);
        font-size: var(--font-md);
        font-weight: var(--weight-regular);
        text-align: justify;
      }
    }

    a {
      color: var(--color-highlight);
      font-weight: var(--weight-bold);
    }

    a:hover {
      text-decoration: underline;
    }
  }

  > .categoriesContainer {
    ul li {
      margin-bottom: 0.6rem;
      font-size: var(--font-md);
      color: var(--color-accent);
      font-weight: var(--weight-medium);
      text-decoration: underline;
    }
  }
}
