@import "./styles/index.css";

html {
  font-size: 10px;
}

body {
  font-family: "Satoshi", sans-serif;
  background-color: var(--background);
  color: var(--base-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}
