.layout {
  display: flex;
  flex: 1;

  > .aside {
    display: none;
    width: 0rem;
  }

  > .content {
    flex: 1;
  }
}

@media (min-width: 768px) {
  .layout {
    > .aside {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      width: 30rem;
      margin-top: 3rem;
      user-select: none;
      overflow-y: auto;

      a {
        font-size: var(--font-md);
        text-decoration: underline;
        color: var(--text-tertiary);
        margin-bottom: 2rem;
      }

      h3 {
        font-size: var(--font-lg);
        font-weight: var(--weight-bold);
      }

      ul li {
        margin-bottom: 0.6rem;

        a {
          font-size: var(--font-md);
          font-weight: var(--weight-medium);
          color: var(--color-accent);
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
