.layout {
  display: flex;
  flex-direction: column;
  flex: 1;

  > .aside {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 30rem;
    margin-top: 3rem;

    padding: 1.5rem;
    user-select: none;
    overflow-y: auto;

    a {
      font-size: var(--font-md);
      text-decoration: underline;
      color: var(--text-tertiary);
      margin-bottom: 2rem;
    }

    h3 {
      font-size: var(--font-lg);
      font-weight: var(--weight-bold);
    }

    ul li {
      margin-bottom: 0.6rem;

      a {
        font-size: var(--font-md);
        font-weight: var(--weight-medium);
        color: var(--color-accent);
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  > .content {
    flex: 1;
  }
}

@media (min-width: 1024px) {
  .layout {
    flex-direction: row;
  }
}
