.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  position: absolute;
  left: 50%;
  display: none;
  flex-direction: column;
  gap: 0.2rem;
  margin-top: 0.5rem;
  padding: 0.3rem;
  border: 0.1rem solid var(--border-color);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  z-index: 1;
  transform: translate(-50%);
  background-color: var(--background);

  &.show {
    display: flex;
  }
}

.contentButton {
  width: 100%;
  padding: 0.8rem 3rem;
  border: none;
  border-radius: 0.5rem;
  background: none;
  color: inherit;
  font: inherit;
  font-size: var(--font-sm);
  text-align: left;
  cursor: pointer;

  &:hover {
    color: var(--white-color);
    background-color: var(--border-color);
  }
}
