.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100dvw;
  min-height: 100dvh;
  padding: 2rem 0rem 2rem;
  overflow-y: auto;
}

.layoutInner {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 90%;
  max-width: 100rem;

  > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;

    margin-bottom: 1rem;

    > img {
      user-select: none;
      pointer-events: none;
    }

    > .headerMenu {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
    }
  }

  > .content {
    display: flex;
    flex: 1;
  }

  > .footer {
    height: 5rem;
    margin-top: 1rem;
    background-color: red;
  }
}
