.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100dvw;
  min-height: 100dvh;
  padding: 2rem 0rem 2rem;
  overflow-y: auto;
}

.layoutInner {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 90%;
  max-width: 100rem;
  /* background-color: burlywood; */

  > .header {
    height: 5rem;
    background-color: red;
    margin-bottom: 1rem;
  }

  > .content {
    display: flex;
    flex: 1;
    background-color: blue;
  }

  > .footer {
    height: 5rem;
    margin-top: 1rem;
    background-color: red;
  }
}
