.layout {
  display: flex;
  flex: 1;

  > .aside {
    display: none;
    width: 0rem;
  }

  > .content {
    flex: 1;
    background-color: green;
  }
}

@media (min-width: 768px) {
  .layout {
    > .aside {
      display: flex;
      background-color: yellow;
      width: 30rem;
    }
  }
}
