.content {
  max-width: 100vw;
  overflow-x: hidden;
  word-wrap: break-word;
  overflow-wrap: anywhere;

  /* -------- HEADERS -------- */
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: var(--weight-bold);
    color: var(--text-secondary);
  }

  h1 {
    font-size: var(--font-xxl);
    margin-bottom: 4rem;
  }

  h2 {
    font-size: var(--font-xl);

    margin-bottom: 2rem;
  }

  h3 {
    font-size: var(--font-lg);

    margin-bottom: 2rem;
  }

  h4 {
    font-size: var(--font-md);

    margin-bottom: 2rem;
  }

  h5 {
    font-size: var(--font-sm);

    margin-bottom: 2rem;
  }

  /* -------- PARAGRAPHS -------- */
  p {
    font-size: var(--font-md);
    color: var(--base-text);
    margin-bottom: 1rem;
  }

  /* -------- LINKS -------- */
  a {
    color: var(--color-accent);
    text-decoration: underline;
  }

  /* -------- LISTS -------- */
  ul,
  ol {
    margin: 1rem 0 1rem 1.5rem;
    padding: 0;
    color: var(--base-text);
  }

  ul li {
    list-style: disc;
    margin-bottom: 0.5rem;
  }

  ol li {
    list-style: decimal;
    margin-bottom: 0.5rem;
  }

  /* -------- INLINE CODE -------- */
  code {
    padding: 0.2rem 0.4rem;
    border-radius: 0.4rem;
    font-family: ui-monospace, SFMono-Regular, Menlo, monospace;
    font-size: var(--font-sm);
    background: var(--code-color);
    color: var(--base-text);
  }

  /* -------- CODE BLOCKS -------- */
  pre {
    background: var(--code-color);
    color: var(--base-text);
    padding: 1rem;
    border-radius: 0.8rem;
    overflow-x: auto;
    margin: 1.5rem 0;
    border: 0.1rem solid var(--border-color);
    box-shadow: var(--box-shadow);
  }

  pre code {
    background: none;
    padding: 0;
    font-size: var(--font-sm);
    color: inherit;
  }

  /* -------- HR -------- */
  hr {
    margin: 2rem 0;
    border: 0;
    border-top: 0.1rem solid var(--border-color);
  }

  /* -------- BR -------- */
  br {
    line-height: 2;
  }

  /* -------- STRONG & EM -------- */
  strong {
    font-weight: var(--weight-bold);
    color: var(--text-tertiary);
  }

  em {
    font-style: italic;
    color: var(--text-secondary);
  }
}

@media (max-width: 600px) {
  .content {
    padding: 1.5rem;

    h2,
    h3,
    h4,
    h5 {
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 2rem;
    }

    pre {
      font-size: var(--font-sm);
    }
  }
}
