name: Send File Data to Endpoint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12.3"
      - name: Installing dedepencies
        run: pip3 install -r scripts/gha/requirements.txt
      - name: Running Python Script
        run: |
          git fetch origin ${{ github.event.before }} --depth=1
          changed_files=$(git diff --name-only ${{ github.event.before }} ${{ github.sha }} | grep -i "^notes/")
          if [[ -n "$changed_files" ]]; then
            python3 -m scripts.gha.process $changed_files
          fi
