name: Send File Data to Endpoint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Running Python Script
        run: |
          echo "Hello, GitHub Actions!"
          git fetch origin ${{ github.event.before }} --depth=1
          my_variable=$(git diff --name-only ${{ github.event.before }} ${{ github.sha }})
          echo "My shell variable is: $my_variable"
          ls -lha
